<template>
    <div class="container-lg p-t-md">
        <div class="row p-b-md">
          <template for:each={qualfiyingEventsList} for:item="eachValue" for:index="index">
    
            <div key={eachValue} class="col-sm-3 p-b">
              <a class="card plan-card cardHeight_respIpad" data-index={index} onclick={handleOpenModalJS}>
    
                <div class="title">{eachValue.Event_Name__c}</div>

              </a>
            </div>
    
          </template>
        </div>
      </div>

      <template if:true={openModal}>
        <section
          role="dialog"
          tabindex="-1"
          aria-labelledby="modal-heading-02"
          aria-modal="true"
          aria-describedby="modal-content-id-2"
          class="slds-modal slds-fade-in-open qualifying-modal">
          <div class="slds-modal__container">
            <!-- ###### MODAL BOX HEADER Start ######-->
            <header class="slds-modal__header modal_title_left">
              <lightning-button-icon
                icon-name="utility:close"
                onclick={closeDeclineModalJS}
                alternative-text="close"
                variant="bare-inverse"
                class="slds-modal__close"></lightning-button-icon>
              <h1
                id="modal-heading-02"
                class="slds-text-heading_medium slds-hyphenate">
                Qualifying Event
              </h1>
    
            </header>
            <!--###### MODAL BOX BODY Part Start######-->
            <div
              class="slds-modal__content slds-p-around_medium p-x-md"
              id="modal-content-id-2">
              <h4 class="title">{selectedEvent.Event_Name__c}</h4>
              
            </div>
            <footer class="slds-modal__footer">
              <button class="btn-a btn-md btn-outline m-r" onclick={closeDeclineModalJS}>CANCEL</button>
    
              <a href={eventURL}>
                <template if:true={eligibleForEventFlow}>
                  <button class="btn-a btn-md btn-primary" onclick={handleStart}>START NOW</button>
                </template>
              </a>
            </footer>
          </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </template>
</template>